<?xml version="1.0" encoding="UTF-8"?>

<suite name="eCRM TEST SUITE">

	<test name="Regression Tests">

		<parameter name="browserName" value="Chrome" />
		<parameter name="environmentName" value="PreProduction" />
		<parameter name="userName" value="vc" />
		<parameter name="password" value="a" />
		<groups>
			<run>
				<include name="regression_test" />
			</run>
		</groups>

		<packages>
			<package name="com.eCRM.client.*" />
		</packages>

	</test>



	<listeners>
		<listener class-name="com.eCRM.client.core.ListenerUtils" />
	</listeners>

</suite>

