<?xml version="1.0" encoding="UTF-8"?>
<suite name="eCRM TEST SUITE">

	<test name="Regression Tests" verbose="1">

		<parameter name="browserName" value="Chrome" />
		<parameter name="environmentName" value="PreProduction" />
		<parameter name="performanceFlag" value="false" />
		<parameter name="userName" value="demo" />
		<parameter name="password" value="demo" />
		<groups>
			<run>
				<include name="regression_test" />
			</run>
		</groups>
		<packages>
			<package name="com.eCRM.client.*" />
		</packages>


	</test>



	<listeners>
		<listener class-name="com.eCRM.client.core.ListenerUtils" />
	</listeners>

</suite>

